footer {
  div.container  {
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #7b8796;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  span {
    color: #7b8796;
    font-size: 12px;
    font-weight: 100;
  }
}
