* {
  letter-spacing: 0.8px;
}

body {
  overflow-x: hidden;
  background-color: #f6f9fc;
  font-family: 'Roboto Condensed', sans-serif !important;
}


h1 {
  font-size: 32px;
  font-weight: 600;
  color: #7b8796;
}

h2 {
  font-size: 18px;
  color: #7b8796;
  font-weight: 400;
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
  color: #3366ff
}
