<table class="table text-centered">
  <thead>
  <tr>
    <th class="text-left">Campaign Title</th>
    <th>Recipients</th>
    <th>Opened</th>
    <th>CTA</th>
    <th>Responses</th>
    <th>New Messages</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>
      <div class="campaign">
        <span class="name">Hyundai i19 Campaign</span>
        <span class="date">Sent on 15 May 2017 at 08:34 AM</span>
      </div>
    </th>
    <td>1.896</td>
    <td>41%</td>
    <td>39%</td>
    <td>45%</td>
    <td>○</td>
  </tr>
  <tr>
    <th>
      <div class="campaign">
        <span class="name">Hyundai i19 Campaign</span>
        <span class="date">Sent on 15 May 2017 at 08:34 AM</span>
      </div>
    </th>
    <td>1.896</td>
    <td>41%</td>
    <td>39%</td>
    <td>45%</td>
    <td>○</td>
  </tr>
  <tr>
    <th>
      <div class="campaign">
        <span class="name">Hyundai i19 Campaign</span>
        <span class="date">Sent on 15 May 2017 at 08:34 AM</span>
      </div>
    </th>
    <td>1.896</td>
    <td>41%</td>
    <td>39%</td>
    <td>45%</td>
    <td><span class="badge badge-primary badge-pill">3</span></td>
  </tr>
  <tr>
    <th>
      <div class="campaign">
        <span class="name">Hyundai i19 Campaign</span>
        <span class="date">Sent on 15 May 2017 at 08:34 AM</span>
      </div>
    </th>
    <td>1.896</td>
    <td>41%</td>
    <td>39%</td>
    <td>45%</td>
    <td>○</td>
  </tr>
  <tr>
    <th>
      <div class="campaign">
        <span class="name">Hyundai i19 Campaign</span>
        <span class="date">Sent on 15 May 2017 at 08:34 AM</span>
      </div>
    </th>
    <td>1.896</td>
    <td>41%</td>
    <td>39%</td>
    <td>45%</td>
    <td>○</td>
  </tr>
  </tbody>
</table>
